html {height:100%;}
html, body {
  margin:0;
  padding:0;
  min-height: 100%;
  position:relative;
  width:auto;
}

menu { margin:0;}
h1,h2,h3,h4,h5 {
  weight:normal;
  font-size:1em;
  margin-top:0px;
  margin-bottom:0px;
}